div {
  margin: 10px 0;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #aedeb0;
  color: rgb(240, 175, 175);
  border: none;
  cursor: pointer;
}

input {
  padding: 5px;
  width: 200px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
