<div>
  <input
    type="text"
    #todoText
    placeholder="Add a new task"
    (keyup.enter)="addTask(todoText.value)"
  />
  <button (click)="addTask(todoText.value)">Add</button>
</div>

<ul>
  <li *ngFor="let todoItem of todoList">
    <input
      type="checkbox"
      [(ngModel)]="todoItem.completed"
      (change)="toggleCompleted(todoItem.id)"
    />
    <span [class.completed]="todoItem.completed">{{ todoItem.title }}</span>
    <button (click)="deleteTask(todoItem.id)">Delete</button>
  </li>
</ul>
